@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #2a2a72;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

input {
  width: 100%;
  display: block;
  background: #2a2a72;
  border: none;
  border-radius: 10px;
  color: red;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::-moz-placeholder {
  color: #bbb;
}

.user-form input:-ms-input-placeholder {
  color: #bbb;
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: #4c2885;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: #fff;
  background: rgb(99, 99, 99);
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .user-form {
    max-width: 400px;
  }
}
table {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
}
table thead tr th {
  border: 3px solid black;
  text-transform: capitalize;
}
table thead tr th, table tbody tr td {
  display: block;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
  flex-flow: column;
}
table thead tr th {
  background: #14b8a6;
}
table tbody tr .User {
  background: #ffffff;
}
table tbody tr td {
  border: 3px solid black;
  vertical-align: middle !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}
table tbody tr td #name {
  display: flex;
  justify-content: center;
  align-items: center;
}
table tbody tr td #name a .avatar {
  border-radius: 50%;
  border: 5px dashed salmon;
  height: 250px;
  transform: scale(0.8);
  transition: all 0.75s ease-in-out;
}
table tbody tr td #name a .avatar:hover {
  transform: scale(1.2) rotate(360deg);
  border: 5px solid salmon;
}
table tbody tr td div {
  display: flex;
  justify-content: center;
  align-items: center;
}
table tbody tr td div .sep {
  background: #fef3c7;
}
table tbody tr td p.company {
  font-size: 3em;
  background: white;
}
table tbody tr td p.bio {
  background: white;
  margin-bottom: 5vh;
  transition: all 0.5s ease-in-out;
}
table tbody tr td p.bio:hover {
  transform: scale(2);
  border: 5px solid black;
}
table tbody tr td .statsCard, table tbody tr td .mostLang {
  transition: all 0.35s ease-in-out;
}
table tbody tr td .statsCard:hover, table tbody tr td .mostLang:hover {
  transform: scale(1.6);
}
table tbody tr td .otherInfo {
  transition: all 0.35s ease-in-out;
}
table tbody tr td .otherInfo:hover {
  transform: scale(1.2);
}
table tbody tr td a.repo:hover {
  background: rgb(41, 101, 241);
}
table tbody tr td a.repo img {
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}
table tbody tr td a.repo img:hover {
  transform: scale(2.2);
  opacity: 1;
}
table tbody tr td .js, table tbody tr td .javascript {
  background: rgb(212, 212, 22);
}
table tbody tr td .longdo-map {
  background: rgb(83, 138, 243);
}
table tbody tr td .css {
  background: rgb(38, 77, 228);
  font-size: 2em !important;
}
table tbody tr td .css:hover {
  font-size: 2em !important;
  background: rgb(41, 101, 241);
}
table tbody tr td .scss, table tbody tr td .sass {
  background: rgb(205, 103, 153);
}
table tbody tr td .python, table tbody tr td .py {
  background: rgb(75, 139, 190);
  color: rgb(255, 232, 115);
}

#name {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: #2a2a72;
  border-radius: 50%;
}

#name:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}/*# sourceMappingURL=style.css.map */